.icon-action {
  color: red !important;
}

.btn-open-nomina {
  outline: none;
}

.label-legajo {
  padding: 5px 45px;
  border-radius: 5px;
}

.css_anulado {
  background-color: rgba(233, 170, 170, 0.781);
}


.css_justificacion {
  background-color: rgba(148, 191, 255, 0.781);
  font-weight: bold;
}

.css_justificacion_anulada {
  background-color: rgba(241, 128, 128, 0.781);
  font-weight: bold;
}
