<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

  <!--Seteamos la cadena de Conexion -->
  <connectionStrings>

	  <!--COFARSUR PRODUCCIÒN-->
       <!--<add name="cadena" connectionString="SERVER=200.80.43.3; Port=3306; DATABASE=cofarsur_sniper; UID=cofarsur_sniper; PASSWORD=Desa1521" providerName="MySql.Data.MySqlClient" />-->

	  <!--COFARSUR DESARROLLO-->
	  <!--<add name="cadena" connectionString="SERVER=204.93.216.11; Port=3306; DATABASE=sniperbo_sbotdesa; UID=sniperbo_manager; PASSWORD=Desa1521" providerName="MySql.Data.MySqlClient"/>-->

    <!--SNIPERBOT DEMO-->
    <add name="cadena" connectionString="SERVER=204.93.216.11; Port=3306; DATABASE=sniperbo_demo; UID=sniperbo_manager; PASSWORD=Desa1521" providerName="MySql.Data.MySqlClient"/>

	  <!--CBA1 PRE-->
    <!--<add name="cadena" providerName="System.Data.SqlClient" connectionString="Server = DESKTOP-R3IQS6R; Database = test; User Id = sa; password = qquaker8790" />-->
    <!--<add name="cadena" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =127.0.0.1)(PORT = 1521))(CONNECT_DATA =(SID = XE)));USER ID=vialidad;Password=vialidad ;" providerName="Oracle.ManagedDataAccess.Client" />-->
<!--<add name="cadena" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =192.168.1.4)(PORT = 1521))(CONNECT_DATA =(SID = XE)));USER ID=SBOTMGR;Password=DESA1521 ;" providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>

  <appSettings>
  </appSettings>

</configuration>