<h1 mat-dialog-title class="bg-primary titulo-modal">{{ titulo }}
  <mat-icon class="btn-close" (click)="cerrarModal()">clear</mat-icon>
</h1>
<div mat-dialog-content>

  <p class="p-nombre">
    <span>{{ objeto.Nombre + ' ' + objeto.Apellido + ' (Leg. ' + objeto.IdLegajo + ')' }}</span>
  </p>

  <mat-card class="mb-3">
    <div class="row text-center labels-container">
      <div class="col-3">
        <mat-label>Sección</mat-label>
        <p>{{ objeto.Seccion }}</p>
      </div>
      <div class="col-3">
        <mat-label>Fecha</mat-label>
        <p>{{ objeto.Fecha.getDateString() }}</p>
      </div>
      <div class="col-3">
        <mat-label>Jornada</mat-label>
        <p>{{ objeto.Njornada }}</p>
      </div>
      <div class="col-3">
        <mat-label>Movimientos</mat-label>
        <p>{{ calcularMovimientos() }}</p>
      </div>
    </div>
  </mat-card>
  <mat-accordion class="my-2">
    <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Jornadas
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row justify-content-center text-center">

        <div class="col-4">
          <mat-form-field>
            <mat-label>Seleccione jornada</mat-label>
            <mat-select [(ngModel)]="objeto.IdJornada" (selectionChange)="getSeleccionJornada($event)">
              <mat-option *ngFor="let item of lstJornadas" [matTooltip]="item.Detalle" [value]="objeto.IdJornada">
                {{ item.Detalle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button color="primary">Guardar</button>
      </mat-action-row>

    </mat-expansion-panel>

    <!-- Otro panel -->
    <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Marcaciones
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Contenido -->

      <div class="container">
        <div class="row justify-content-start mb-3">
          <div class="col-2 text-center">
            <button mat-mini-fab color="accent" aria-label="Add" class="mr-3">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="Remove">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <div class="col-6">
            <app-timepicker [setDarkMode]="true"></app-timepicker>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-parte-diario">

                <ng-container matColumnDef="Hora">
                  <th mat-header-cell *matHeaderCellDef> Hora </th>
                  <td mat-cell *matCellDef="let element"> {{element.Hora}} </td>
                </ng-container>

                <ng-container matColumnDef="Tipo Marcación">
                  <th mat-header-cell *matHeaderCellDef> Tipo Marcación </th>
                  <td mat-cell *matCellDef="let element"> {{element.IdMarcacionTipo}} </td>
                </ng-container>

                <ng-container matColumnDef="Fuente Marcación">
                  <th mat-header-cell *matHeaderCellDef> Fuente Marcación </th>
                  <td mat-cell *matCellDef="let element"> {{element.NmarcacionFuente}} </td>
                </ng-container>

                <ng-container matColumnDef="Equipo">
                  <th mat-header-cell *matHeaderCellDef> Equipo </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nequipo}} </td>
                </ng-container>

                <ng-container matColumnDef="Estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nestado}} </td>
                </ng-container>

                <ng-container matColumnDef="Incidencia">
                  <th mat-header-cell *matHeaderCellDef> Incidencia </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nincidencia}} </td>
                </ng-container>

                <ng-container matColumnDef="Foto">
                  <th mat-header-cell *matHeaderCellDef> Foto </th>
                  <td mat-cell *matCellDef="let element"> {{element.Foto}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>

      <mat-action-row>
        <button mat-button color="primary">Guardar</button>
      </mat-action-row>

    </mat-expansion-panel>

    <!-- Otro panel -->
    <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Incidencias
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row justify-content-center text-center">

        <div class="col-4">
          <mat-form-field>
            <mat-label>Seleccione incidencia</mat-label>
            <mat-select [(ngModel)]="objeto.IdIncidencia" (selectionChange)="getSeleccionIncidencia($event)">
              <mat-option *ngFor="let item of lstIncidencias" [matTooltip]="item.Detalle" [value]="objeto.IdIncidencia">
                {{ item.Detalle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button color="primary">Guardar</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>



</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="cerrarModal()">Cerrar</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div> -->
