<div class="mainfooter">
  <div class="row mt-1">
    <div class="col col-xs-5 text-left">
      <img class="border border-primary rounded-circle logo-sniper" src="../../../assets/images/SBOT/SBOT_3D_Long.gif"
        style="width: 50px; height: 50px;" alt="..." />
    </div>
    <div class="col firma col-xs-2 text-center ">
      © 2020 Copyright: SniperBot®
    </div>
    <div class="col col-xs-5  text-right">
      <img class="logo-cofarsur" src="../../../assets/images/Cofarsur/cofarsur_logo.png"
        style="width: 70px; height: 50px;" alt="..." />
    </div>
  </div>
</div>
