<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [formControl]="nomUsuarioFormControl" [(ngModel)]="usuario.NomUsuario"
                  placeholder="Usuario" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [formControl]="passFormControl" [(ngModel)]="usuario.Pass" placeholder="Contraseña"
                  type="password" name="password" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="loginSubmit()" color="primary" [disabled]="mostrarProgressBar">Login</button>
    </mat-card-actions>
    <mat-progress-bar mode="indeterminate" *ngIf="mostrarProgressBar"></mat-progress-bar>
  </mat-card>

</div>
