.contenedor-modal {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

.mat-dialog-content {
  margin: 0;
  max-height: 100%;
  overflow: inherit;
}

.btn-close {
  top: 3px;
  width: 30px;
  position: absolute;
  right: 3px;
  transition: 0.2s all;
  border-radius: none;
}

.btn-close:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 25px;
}

.p-nombre {
  position: relative;
  z-index: 2;
}

.p-nombre span {
  background: #fff;
  padding: 0 15px;
  left: 60px;
  position: relative;
}

.p-nombre::before {
  border-top: 1px solid rgba(200, 200, 200, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.margin-x {
  margin-left: 10px;
  margin-right: 10px;
}

.input-content {
  position: relative;
  width: 100%;
  text-align: center;
}

.table-parte-diario {
  width: 100%;
}

.table-parte-diario th,
.table-parte-diario td {
  font-size: 10px;
}

.labels-container p {
  color: rgba(5, 5, 5, 0.6);
}

.menu-marcacion {
  z-index: 999;
}

.css_anulado {
  background-color: rgba(233, 170, 170, 0.781);
  font-weight: bold;
}

/* Tabs */

.expanded-tab {
  height: 300px;
}
