.mat-dialog-content {
  margin: 0;
  max-height: 100%;
  overflow: inherit;
}

.ul-jornadas {
  list-style-type: none;
}

.ul-jornadas li {
  position: relative;
}

.ul-jornadas .input-jornada {
  width: 50px;
  border-radius: 12px;
  padding-left: 7px;
  border: none;
  border: solid 1px rgba(5,5,5,0.3);
  outline: none;
}

.input-container {
  right: 0;
}

:host .select-form-field {
  font-size: 11px;
}

.p-nombre {
  position: relative;
  z-index: 2;
}

.p-nombre span {
  background: #fff;
  padding: 0 15px;
  left: 25px;
  position: relative;
}

.p-nombre::before {
  border-top: 1px solid rgba(200, 200, 200, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.labels-container p {
  color: rgba(5, 5, 5, 0.6);
}
