/* .mainheader {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 20;
} */

.navbar {
  height: 40px
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a:hover {
  color: aqua !important;
  background-color: #0B0040;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.menustyle {
  color: white;
  background-color: #0B0040;
}

.disabled {
  background-color: grey;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

button {
  color: aqua !important;
}

.navbar-toggler {
  border-color: lightskyblue !important;
  color: lightskyblue !important;
}

.dropdown-menu a {
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

.dropdown-menu a:hover {
  cursor: pointer;
}

#navbarNavDropdown ul,
#navbarNavDropdown a {
  font-size: 14px;
}

.ico-logout {
  cursor: pointer;
  transition: 0.1s all;
  -webkit-transition: 0.3s all;
}

.ico-logout:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

::ng-deep .tooltip-logout {
  position: relative;
  bottom: 14px;
}
